/*navegador*/
nav.transparent{
	 background: rgba(255,255,255,0.75); 
}
a {
	text-decoration: none;
	color: black;
}
/*imagenes portadas*/
body{
	background-image: url("../images/fotosPortafolio/fondoback5.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 100%;
	width: 100%;
	height: 700px;
}
.fotoPerfil{
	width: 200px;
	height: auto;
	border-radius: 50%;
	
	
}
/*letras*/
.titulos{

	font-weight: bold;
	font-size: 300%;
}
.colorWhite{
	color: white;
}
 li{
	list-style:none;
}
.linkcv{
	text-decoration: underline;
	font-size: 2em;
}
.titNombre{
	font-size: 3em;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 800;
}
/*acomodo*/
.maPd0{
	margin: 0 !important;
	padding: 0 !important;
}

.pdRL15{
	padding: 0 15%;
}
.padRL3{
	padding: 0 3%;
}
.padTop2{
	margin-top: 2px;
}
.padTop5{
	padding-top: 5%;
}
.padTop10{
	padding-top: 10%;
}
.padTop15{
	padding-top: 15%;
}
.padTop25{
	padding-top: 25%;
}
.padBott15{
	padding-bottom: 15%;
}
.padBott5{
	padding-bottom: 5%;
}
.margTop15{
	margin-top: 45%;
}

ul.line{
	text-decoration: none;
}

/*skills*/
.skills span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1.2em;
    font-weight: bolder;
    color: #fff;
}

progress {
  
    border: 0;
    height: 2.0em;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #F5ECCE;
}

progress::-webkit-progress-value {
    background-color: #F5DA81;
}

progress::-moz-progress-bar {
    background-color: #329ad1;
}
.sep{
  padding-left: 5%;
  color: #394856 !important;
  font-size: 0.8em !important;

}
.imgskill{
	 padding-left: 8%;

}

/*contenedores*/
.contenedorSecciones{
	background-color: white;
	width: 90%;
	margin:  5% 2% 0 6%;
	
}

/**/
/*imagenes de Web*/
.adaptarImgWeb{
	width: 100%;
	height: auto;

}
.btn{
	background: #FFA500 !important;
	color: white !important;
	border-radius: 50px !important;
	border-style: none !important;
	margin-top: 5%;
	margin-bottom: 5%;
}


/*efecto hover a imagenes de diseño*/
.elemento {

	cursor: pointer;
	margin: 20px 0;
	width: 100%;


	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.elemento:hover{
	
	box-shadow: 0 0 40px rgba(0,0,0,0.8);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
/*imagenes diseño*/
.tamañoWid{
	width: 300px;
}
.tamañoWid2{
	width: 500px;
}
.tamañoWid3{
	width: 400px;
}
.tamañoImgED{
	height: 235px;
}

.tamañoImgED2{
	height: 225px;
}
.contenedor {
	width:85%;
	margin:5% auto;
	padding: 0 5%;

}
 

/*contacto*/
.seccionContacto{
	padding: 5% 0;
	height: 100px;
	width: 100%;
}

.linkHov i{
	padding: 0 5%;
	margin-top: 20%;
}
.linkHov:hover{
	color: red;
}

.fondoTrans{
	
	padding: 5%;
	width: 60%;
	margin: 5% 0;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 22%;
	border-radius: 5px 5px 5px 5px;

}
.textTamP{
	
	padding-left: 2%;
	font-size: 0.5em;

	

}

.bgBla{
	background-color: black;
	width: 100%;
	padding: 1%;
}
	
/*mediaquery*/


 @media (min-width : 630px) and (max-width : 766px) {
	.gallery img{
		
		margin-left: 90px;
	}
	
 }
  @media (min-width : 500px) and (max-width : 629px) {
	.gallery img{
		
		margin-left: 50px;
	}
 }
 @media (min-width : 630px) and (max-width : 800px) {
	.tamañoWidMed{
	
		margin-left: 35%;
	}
	
 }

 @media (min-width : 801px) and (max-width : 990px) {
	.tamañoWidMed{
	
		margin-left: 55%;
	}
		
 }
   @media (min-width : 991px) and (max-width : 1000px) {
	
		
 }
